@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon: #800000;
}

.bg-maroon {
  background-color: var(--maroon);
}

.text-maroon-dark {
  color: #3b0d0d;
}

.bg-maroon-light {
  background-color: #f8e9e9;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
